STAGE=***
VPC_ID=***

VEDA_FEATURES_DB_SCHEMA_VERSION=x.y.z
VEDA_FEATURES_DB_AIRFLOW_WORKER_SECURITY_GROUPS=["sg-airflow-worker", "sg-airflow-worker"]

# Optional but recommended
CDK_DEFAULT_ACCOUNT=***
CDK_DEFAULT_REGION=***